@font-face {
    font-family: letraBold;
    src: url("Type font/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: letralight;
    src: url("Type font/MyriadPro-Light.otf");
}

@font-face {
    font-family: letraRegular;
    src: url("Type font/Myriad\ Pro\ Regular.ttf");
}
body{
    background-color: #000000;
}
#principal{
    background-color: black;
    width: 100vw;
    height:52vw;
    overflow: hidden;
    margin:-1vw;
    display: flex;
    justify-content: center;
   align-items: center;
}
#fondo2{
    background-size: 100vw;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height:70vw;
    margin-top: 8vw;
    display: flex;
     justify-content: center;
    align-items: center;
}
#cajalogo{
    position: relative;
    top: -4vw;
    width: 45vw;
    height: 31vw;
    overflow: hidden;
}
#logo{
    position: absolute;
    top: -8vw;
    width: 48vw;
    height: 44.5vw;
}
#cajablanca{
    position: absolute;
    top: 5vw;
    width: 60vw;
    height: 42vw;
    background-color: #fff;
    opacity: 80%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
   align-items: center;

}
#container{
 
    width: 56vw;
    height: 4vw;
    position: relative;
    top: -15vw;
}
#menu{
    position: absolute;
    left: 53vw;
    top: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
#flecha{
    position: absolute;
    top: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}

#caja{
    border: #000 1px solid;
    display: none;
    top: 3vw;
    left: 46vw;
    position: absolute;
    width: 10vw;
    height: 10.6vw;
    background-color: #EC610B;
    z-index: 2;
    border-radius: 2vw;
    border-style:dashed;
    border-color: #fff;
}
.opciones{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 10vw;
    height: 2vw;
    border:#fdfafa 1px solid;
    border-style:dashed;
    font-size: 1.2vw;
    color: white;
  
}
#abrir{
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}
#abrir:checked~#caja{
    display: block;
}
#cajatitulo{
    position: relative;
    top: 2vw;
    width: 56vw;
    height:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#opcio{
    width: 28vw;
    height: 2vw;
    background-color:#EC610B;
    position: relative;
    border-radius: 2vw;
    color: #f8f6f4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1vw;
    font-family: letraRegular;
    gap: 1vw;
    
    
}
#imgayuda{
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 20vw;
    top:-1vw;
}
#text1{
    color: #EC610B;
    font-size: 3vw;
    position: absolute;
    top: -1.3vw;
    left: 26vw;
    font-family: letraBold;
}
#text2{
    font-size: 1.5vw;
    position: absolute;
    top:3.5vw ;
    font-family: letraRegular;

}
#flechaacor{
    width: 1vw;
    height: 1vw;
    transform: rotateZ(-90deg);
    position:relative ;
    top: 2vw;
    left: 26vw;
    z-index: 2;
    
}
#flechaacor1{
    width: 1vw;
    height: 1vw;
    transform: rotateZ(-90deg);
    position:relative ;
    top: 2vw;
    left: 26vw;
    z-index: 2;
    
}
#flechaacor2{
    width: 1vw;
    height: 1vw;
    transform: rotateZ(-90deg);
    position:relative ;
    top: 2vw;
    left: 26vw;
    z-index: 2;
}
#flechaacor3{
    width: 1vw;
    height: 1vw;
    transform: rotateZ(-90deg);
    position:relative ;
    top: 2vw;
    left: 26vw;
    z-index: 2;
    
}
#acordeon{
    display: none;
}
#acordeon1{
    display: none;
}
#acordeon2{
    display: none;
}
#acordeon3{
    display: none;
}
#contetext1{
    display: none;
    width: 25vw;
    height: 7vw;
    position: relative;
    top: 2vw;
    background-color: #EC610B;
    border-style: dotted;
    border-color: #f3f2f1;
}
#acordeon:checked~#contetext1{
   
    display: block;

}
#contetext2{
    display: none;
    width: 28vw;
    height: 7vw;
    position: relative;
    top: 2vw;
    background-color: #EC610B;
    border-style: dotted;
    border-color: #f3f2f1;
}
#acordeon1:checked~#contetext2{
   
    display: block;

}
#contetext3{
    display: none;
    width: 28vw;
    height: 8vw;
    position: relative;
    top: 2vw;
    background-color: #EC610B;
    border-style: dotted;
    border-color: #f3f2f1;
}
#acordeon2:checked~#contetext3{
   
    display: block;

}
#contetext4{
    display: none;
    width: 28vw;
    height: 8vw;
    position: relative;
    top: 2vw;
    background-color: #EC610B;
     border-style: dotted;
    border-color: #f3f2f1;
}
#acordeon3:checked~#contetext4{
   
    display: block;

}
#acordeon3:checked~input{
    display: block;
}
#textmens{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3vw;
    color: #fff;
    font-family: letraBold;
    position: relative;
    top: -1vw;
}
#escribir{
    position: relative;
    left: 3vw;
    top: -1vw;
    width: 22vw;
    height: 1vw;

}
input{
    position: relative;
    top: -0.5vw;
    width: 22vw;
    height: 1.5vw;
    font-size: 1vw;
}


label{
    height: 3vw;
}
#nove{
    font-family: letralight;
    position: relative;
    top: 1vw;
    left: 1vw;
    font-size: 1vw;
    color: white;
}
p{
    font-size: 1vw;
    color: #000;
    position: relative;
    top: -0.9vw;
}
#textmens1{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3vw;
    color: #fff;
    font-family: letraBold;
    position: relative;
    top: -1vw;
}
#textmens2{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3vw;
    color: #fff;
    font-family: letraBold;
    position: relative;
    top: 0.5vw;
}
#escribir1{
    position: relative;
    left: 3vw;
    top: -1vw;
    width: 22vw;
    height: 1vw;

}
#botonenviar{
    
    position: absolute;
    font-size:1.5vw ;
    top: 5vw;
    left: 12vw;
    width: 5vw;
    height: 2vw;
    background-color: #faf9f9;

   
}
#contenido{
    width: 30vw;
    height: 84vw;
    position: absolute;
    top: -22vw;
    left: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
@media screen and (max-width: 500px) {
    #principal{
        background-color: black;
        width: 100vw;
        height:100vw;
        overflow: auto;
        margin:-1vw;
        display: flex;
        justify-content: center;
       align-items: center;
    }
    #fondo2{
        background-size: 100vw;
        background-image: url("pinctures/pexels-pixabay-159400@2x.png");
        background-repeat: no-repeat;
        width: 100vw;
        height:100vw;
        margin-top: 8vw;
        display: flex;
         justify-content: center;
        align-items: center;
    }
    #cajalogo{
        position: relative;
        top: -12vw;
        width: 50vw;
        height: 41vw;
        overflow: hidden;
    }
    #logo{
        position: absolute;
        top: -8vw;
        width: 50vw;
        height: 54.5vw;
    }
    #cajablanca{
        position: absolute;
        top: 5vw;
        width: 60vw;
        height: 65vw;
        background-color: #fff;
        opacity: 80%;
        border-radius: 4vw;
        display: flex;
        justify-content: center;
       align-items: center;
    
    }
    #menu{
        position: absolute;
        left: 51vw;
        top: -12vw;
        width: 2vw;
        height: 2vw;
    }
    #flecha{
        position: absolute;
        top: -12vw;
        width: 2vw;
        height: 2vw;
    }
    #cajatitulo{
       
        position: relative;
        top: -10vw;
        width: 56vw;
        height:10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #imgayuda{
        width: 6vw;
        height: 6vw;
        position: absolute;
        left: 20vw;
        top:-1vw;
    }
    #text1{
        color: #EC610B;
        font-size: 4vw;
        position: absolute;
        top: 0.1vw;
        left: 26vw;
        font-family: letraBold;
    }
    #text2{
        font-size: 2vw;
        position: absolute;
        top:6vw ;
        font-family: letraRegular;
    
    }
    #contenido{
        width: 50vw;
        height: 84vw;
        position: absolute;
        top: -20vw;
        left:2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    #opcio{
        width: 44vw;
        height: 4vw;
        background-color:#EC610B;
        position: relative;
        border-radius: 2vw;
        color: #f8f6f4;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 2vw;
        font-family: letraRegular;
        top: -7vw;
        
        
    }
    label{
        height: 6vw;
    }
    #flechaacor{
        width: 2vw;
        height: 2vw;
        transform: rotateZ(-90deg);
        position:relative ;
        top: -2.5vw;
        left: 39vw;
        z-index: 2;
        
    }
    #flechaacor1{
        width: 2vw;
        height: 2vw;
        transform: rotateZ(-90deg);
        position:relative ;
        top: -2.5vw;
        left: 39vw;
        z-index: 2;
        
    }
    #flechaacor2{
        width: 2vw;
        height: 2vw;
        transform: rotateZ(-90deg);
        position:relative ;
        top: -2.5vw;
        left: 39vw;
        z-index: 2;
    }
    #flechaacor3{
        width: 2vw;
        height: 2vw;
        transform: rotateZ(-90deg);
        position:relative ;
        top: -2.5vw;
        left: 39vw;
        z-index: 2;
        
    }
    #contetext1{
        display: none;
        width: 40vw;
        height: 10vw;
        position: relative;
        top: -4vw;
        background-color: #EC610B;
        border-style: dotted;
        border-color: #f3f2f1;
    }
    #contetext2{
        display: none;
        width: 40vw;
        height: 10vw;
        position: relative;
        top: -4vw;
        background-color: #EC610B;
        border-style: dotted;
        border-color: #f3f2f1;
    }
    #contetext3{
        display: none;
        width: 40vw;
        height: 10vw;
        position: relative;
        top: -4vw;
        background-color: #EC610B;
        border-style: dotted;
        border-color: #f3f2f1;
    }
    #contetext4{
        display: none;
        width: 40vw;
        height: 10vw;
        position: relative;
        top: -4vw;
        background-color: #EC610B;
        border-style: dotted;
        border-color: #f3f2f1;
    }
    #textmens{
        display:flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
        color: #fff;
        font-family: letraBold;
        position: relative;
        top: -1vw;
    }
    
    input{
        position: relative;
        top: -2vw;
        width: 32vw;
        height: 1.5vw;
        font-size: 1.5vw;
    }
    #nove{
        font-family: letralight;
        position: relative;
        top: 1vw;
        left: 1vw;
        font-size: 1.5vw;
        color: white;
    }
    p{
        font-size: 1.5vw;
        color: #000;
        position: relative;
        top: -1.5vw;
    }
    #textmens1{
        display:flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.8vw;
        color: #fff;
        font-family: letraBold;
        position: relative;
        top: -1vw;
    }
    #textmens2{
        display:flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.8vw;
        color: #fff;
        font-family: letraBold;
        position: relative;
        top: 0.5vw;
    }
    #escribir1{
        position: relative;
        left: 3.5vw;
        top: -1vw;
        width: 34vw;
        height: 1vw;
    
    }
    #botonenviar{
        
        position: absolute;
        font-size:1.5vw ;
        top: 7.2vw;
        left: 16vw;
        width: 8vw;
        height: 2.5vw;
        background-color: #faf9f9;
    
       
    }
    #caja{
        border: #000 1px solid;
        display: none;
        top: -10vw;
        left: 45vw;
        position: absolute;
        width: 12.5vw;
        height: 15.6vw;
        background-color: #EC610B;
        z-index: 3;
        border-radius: 2vw;
        border-style:dashed;
        border-color: #fff;
    }
    .opciones{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 12.5vw;
        height: 2.7vw;
        border:#fdfafa 1px solid;
        border-style:dashed;
        font-size: 1.5vw;
        color: white;
       
    }
}
