@font-face {
    font-family: letraBold;
    src: url("Type font/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: letralight;
    src: url("Type font/MyriadPro-Light.otf");
}

@font-face {
    font-family: letraRegular;
    src: url("Type font/Myriad\ Pro\ Regular.ttf");
}
#principal{
    background-color: black;
    width: 100vw;
    height:52vw;
    overflow: hidden;
    margin:-1vw;
    display: flex;
    justify-content: center;
   align-items: center;
}
#fondo2{
    background-size: 100vw;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height:70vw;
    margin-top: 8vw;
    display: flex;
     justify-content: center;
    align-items: center;
}
#cajalogo{
    position: relative;
    top: -4vw;
    width: 45vw;
    height: 31vw;
    overflow: hidden;
}
#logo{
    position: relative;
    top: -8vw;
    width: 48vw;
    height: 44.5vw;
}
#cajablanca{
    position: absolute;
    top: 5vw;
    width: 60vw;
    height: 40vw;
    background-color: #fff;
    opacity: 80%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
   align-items: center;

}
#cajatitulo{
    position: relative;
    top: -15vw;
    width: 60vw;
    height:5vw;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
}
#imgañadir{
    position: relative;
    top: 0.5vw;
    left: -3vw;
    width: 2vw;
    height: 2vw;
}
#cont2{
    font-family: letraBold;
    position: relative;
    top: -2vw;
    left: 2vw;
    color: #EC610B;
    font-size: 2vw;

}
#cont3{
    position: relative;
    top: -1.5vw;
    left: 1vw;
    font-family: letralight;
    font-size: 1vw;
}