#principal{
    background-color: black;
    width: 100vw;
    height:52vw;
    overflow: hidden;
    margin:-1vw;
    display: flex;
    justify-content: center;
   align-items: center;
}
#fondo2{
    background-size: 100vw;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height:70vw;
    margin-top: 8vw;
    display: flex;
     justify-content: center;
    align-items: center;
}
#cajalogo{
    position: relative;
    top: -4vw;
    width: 45vw;
    height: 31vw;
    overflow: hidden;
}
#logo{
    position: relative;
    top: -8vw;
    width: 48vw;
    height: 44.5vw;
}
#cajablanca{
    position: absolute;
    top: 5vw;
    width: 60vw;
    height: 40vw;
    background-color: #fff;
    opacity: 80%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
   align-items: center;

}
#imgfoto{
    border: 2px solid #8b8686;
    width: 10vw;
    height: 10vw; 
    border-radius: 8vw;
    position: relative;
    left: 0.1vw;
  
}
#fotop{
    position: relative;
    top: -8vw;
    width: 12vw;
    height: 12vw;
    
}
#texto{
    position: relative;
    top: -16vw;
    left: 6;
}



