@font-face {
    font-family: letraBold;
    src: url("Type font/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: letralight;
    src: url("Type font/MyriadPro-Light.otf");
}

@font-face {
    font-family: letraRegular;
    src: url("Type font/Myriad\ Pro\ Regular.ttf");
}
body{
    background-color: #000000;
}
#principal{
    background-color: black;
    width: 100vw;
    height:52vw;
    overflow: hidden;
    margin:-1vw;
    display: flex;
    justify-content: center;
   align-items: center;
}
#fondo2{
    background-size: 100vw;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height:70vw;
    margin-top: 8vw;
    display: flex;
     justify-content: center;
    align-items: center;
}
#cajalogo{
    position: relative;
    top: -4vw;
    width: 45vw;
    height: 31vw;
    overflow: hidden;
}
#logo{
    position: relative;
    top: -8vw;
    width: 48vw;
    height: 44.5vw;
}
#cajablanca{
    position: absolute;
    top: 5vw;
    width: 60vw;
    height: 40vw;
    background-color: #fff;
    opacity: 80%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
   align-items: center;
 

}
#contenido{
    position: absolute;
    top: -2vw;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
  
}
#imgfoto{
    border: 2px solid #8b8686;
    width: 10vw;
    height: 10vw; 
    border-radius: 8vw;
}
#fotop{
    position: relative;
    left: 0.2vw;
    width: 12vw;
    height: 12vw;
    
}
#texto{
    font-size: 2vw;
    font-family: letraRegular
}
#text1{
    font-size: 2vw;
    font-family: letraRegular
}
#text2{
    top: 3vw;
    font-size: 1.2vw;
    font-family: letralight;
}
#boton{
    position: relative;
    top: 7vw;
    width: 15vw;
    height: 3vw;
    background-color: #EC610B;
    border-radius: 1vw;
    border-style: none;
}
#text4{
    color: #fff;
    font-size: 1.2vw;
    font-family: letraBold;
}
#perfil{
    position: relative;
    top: 3.8vw;
    left: -21vw;
    color: #EC610B;
    font-size: 1.5vw;
    font-family: letraBold;
}
#container{
    display: none;
    width: 10vw;
    height: 12.6vw;
    background-color: #EC610B;
    position: relative;
    top: -3.5vw;
    left: -22vw;
    border-radius: 2vw;
    border-style:dashed;
    border-color: #fff;
 
}
.opciones{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 2vw;
    border:#fdfafa 1px solid;
    border-style:dashed;
    font-size: 1.2vw;
    color: white;
}
#imgmenu1{
    position: relative;
    top: 5.9vw;
    left: -24.5vw;
    width: 1.3vw;
    height: 1.3vw;
}
input{
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}
#menu:checked~#container{
    display: block;
}
#menu:checked ~  #imgmenu1{
   
    display: none;
   
}
@media screen and (max-width: 400px){
    #principal{
        background-color: black;
        width: 100vw;
        height: 200vw;
        margin:-2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #cajablanca{
        position:absolute;
        top: 75vw;
        width: 80vw;
        height: 60vw;
    }
    #cajalogo{
        position: relative;
        top: -0vw;
        width: 50vw;
        height: 38vw;
        overflow: hidden;
    }
    #logo{
        position: relative;
        top: vw;
        width: 50vw;
        height: 55vw;
    }
    #imgfoto{
        position: relative;
        border: 2px solid #8b8686;
        width: 20vw;
        height: 20vw; 
        border-radius: 50%;
        top: -3vw;
        left: -5vw;
    }
    #texto{
        font-size: 4vw;
        font-family: letraRegular
    }
    #text1{
        position: relative;
        top: 10vw;
        font-size: 3vw;
        font-family: letraRegular
    }
    #text2{
        position: relative;
        top: 12vw;
        font-size: 2vw;
        font-family: letralight;
    }
    #boton{
        position: relative;
        top: 15vw;
        width: 22vw;
        height: 4.5vw;
        
    }
    #text4{
        font-size: 2vw;
    }
    #perfil{
        position: relative;
        top: 3.8vw;
        left: -21vw;
        font-size: 3vw;
    }
    #container{
        display: none;
        width: 18vw;
        height: 24vw;
        background-color: #EC610B;
        position: absolute;
        top: 12vw;
        left: 9vw;
        z-index: 2;
        
     
    }
    .opciones{
        display: flex;
        text-align: center;
        align-items: center;
        width: 17.5vw;
        height: 3.3vw;
        font-size: 2vw;
    }
    #imgmenu1{
        position: relative;
        top: 8vw;
        left: -28vw;
        width: 3vw;
        height: 3vw;
    }
    
}
