#principal{
    background-color: black;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin:-1vw;
}
#fondo2{
    background-size: 100vw;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
  
}
#logoimg{
    margin: 25vw 45vw;
    width:10vw;
    height:10vw;
}