
@font-face {
    font-family: letraBold;
    src: url("Type font/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: letralight;
    src: url("Type font/MyriadPro-Light.otf");
}
#principal{
    margin-left: -2vw;
    margin: -1vw auto;
    background-color:white;
    width:100vw;
    height: 46vw;
    overflow: hidden;
}
#text1{
    margin: 1.5vw 40vw;
    font-size: 2vw;
    font-family: letraBold;
    color: black;
}
#text2{
    margin: -1vw 26vw;
    font-size: 1.2vw;
    font-family: letralight;
    color: black;
    width: 65vw;
   
}
#barra{
    display: flex;
    width: 100vw;
    height: 5vw;
    background-color: white;
    box-shadow: 0 0.3vw 0.2vw #b9b8b8,
    0 0.1vw 0.2vw  #6b6969;
    text-align: center;
    justify-content: space-between;
    font-size: 1.4vw;
}
#container{
    position: relative;
    left: 2vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
    width: -1vw;
  
}
#img{
    position: relative;
    top: -0.1vw;
    left: 4vw;
    width: 2vw;
    height: 2vw;
}
#img3{
    position: absolute;
    left: -6vw;
    top:-0.5vw;
    width: 2.2vw;
    height: 2.2vw;
}
#img1{
    position: relative;
    left:  1vw;
    width: 1.2vw;
    height: 1.2vw;
}
#img2{
    position: relative;
    top: -1vw;
    left: -3vw;
    width: 3vw;
    height: 3vw;
}
#container1{
    font-size: 1.5vw;
    position: relative;
    top: 2.2vw;
    left: -1vw;
}
#container2{
    position: relative;
    left: -5.5vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container3{
    position: relative;
    left: -2vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container4{
    position: relative;
    left: -4vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container5{
    position: relative;
    left: -5vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}

#cajita1{
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    margin-top:-2vw;
    width: 90vw;
    height: 3.5vw;
    border: 1px solid black;
    border-radius: 5vw;

}
#cofre1{
    display: flex;
    justify-content: space-between;
    width: 88vw;
    height: 3.5vw;
    margin: 1vw auto;
    font-family: letralight;
    font-size: 1vw;
}
.conte2{
    position: relative;
    left: -1.7vw;
   
}
.conte3{
    position: relative;
    left: -5vw;
   
}
.conte4{
    position: relative;
    left: -4vw;
   
}
.conte5{
    position: relative;
    left: -1.8vw;
   
}
.conte6{
    position: relative;
    left: 0.8vw;
   
}
.conte7{
    position: relative;
    left: 0.6vw;
   
}
.conte8{
    position: relative;
    left: 2vw;
   
}
.conte9{
    position: relative;
    left: -1.5vw;
   
}
.conte10{
    position: relative;
    left: -6vw;
   
}
.conte11{
    position: relative;
    left: -5vw;
   
}
.conte12{
    position: relative;
    left: -3vw;
   
}
.conte13{
    position: relative;
    left: -0.5vw;
   
}
.conte14{
    position: relative;
    left: -0.5vw;
   
}
.conte15{
    position: relative;
    left: 0.5vw;
   
}
.conte16{
    position: relative;
    left: -2.8vw;
   
}
.conte17{
    position: relative;
    left: -7.5vw;
   
}
.conte18{
    position: relative;
    left: -6.8vw;
   
}
.conte19{
    position: relative;
    left: -4vw;
   
}
.conte20{
    position: relative;
    left: -0.5vw;
   
}
.conte21{
    position: relative;
    left: 0.1vw;
   
}
.conte22{
    position: relative;
    left: 1.8vw;
   
}
.conte23{
    position: relative;
    left: -3.6vw;
   
}
.conte24{
    position: relative;
    left: -7.5vw;
   
}
.conte25{
    position: relative;
    left: -7.5vw;
   
}
.conte26{
    position: relative;
    left: -5vw;
   
}
.conte27{
    position: relative;
    left: -2vw;
   
}
.conte28{
    position: relative;
    left: -0.2vw;
   
}
.conte29{
    position: relative;
    left: 1.2vw;
   
}
.conte30{
    position: relative;
    left: -5vw;
   
}
.conte31{
    position: relative;
    left: -8.5vw;
   
}
.conte32{
    position: relative;
    left: -7.3vw;
   
}
.conte33{
    position: relative;
    left: -4.2vw;
   
}
.conte34{
    position: relative;
    left: -0.7vw;
   
}
.conte35{
    position: relative;
    left: -1vw;
   
}
.conte36{
    position: relative;
    left: 1.2vw;
   
}
.conte37{
    position: relative;
    left: -3vw;
   
}
.conte38{
    position: relative;
    left: -6.9vw;
   
}
.conte39{
    position: relative;
    left: -5.8vw;
   
}
.conte40{
    position: relative;
    left: -2.5vw;
   
}
.conte41{
    position: relative;
    left: 0.5vw;
   
}
.conte42{
    position: relative;
    left: 0.5vw;
   
}
.conte43{
    position: relative;
    left: 2vw;
   
}
#circle{
    position:relative;
    top:-0.7vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid red;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb{
    position:absolute;
    left:1.3vw;
    margin-top: -3.9vw;
    width: 0.4vw;
    height:0.8vw;
    background-color: white;
    border-radius: 8%;
}
#circle2{
    position:relative;
    top:-0.7vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid rgb(14, 209, 14);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb2{
    position:absolute;
    left:1.3vw;
    margin-top: -3.8vw;
    width: 0.4vw;
    height:0.8vw;
    background-color: white;
    border-radius: 8%;
}
#circle3{
    position:relative;
    top:-0.7vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid rgb(255, 148, 8);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb3{
    position:absolute;
    left:1.3vw;
    margin-top: -3.75vw;
    width: 0.4vw;
    height:0.8vw;
    background-color: white;
    border-radius: 8%;
}
#cajita{
    margin: auto ;
    margin-top: 1vw;
    width: 90vw;
    height: 3.5vw;
    border: 1px solid black;
    border-radius: 5vw;
}
#boton1{
    width:20vw;
    height:3vw;
    background-color:orangered;
    border-radius: 5vw;
    color:white;
    position: relative;
    top:-1vw;
    left: 40vw;
    text-align: center;
    justify-content: center;
    font-size: 1,5vw;
}
p{
    position: relative;
    top:0.7vw;
    font-family: letralight;
}
#textcontainer{
    display: flex;
    width: 86vw;
    height: 2vw;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3vw;
    font-family: letraBold;
}
#imgham{
    width: 2vw;
    height: 2vw;
}
#imgham1{
    
    width: 2vw;
    height: 2vw;
}
#imgham2{
    
    width: 2vw;
    height: 2vw;
}
#imgham0{
    
    width: 2vw;
    height: 2vw;
}
.menus{
    position: absolute;
    top: 14.5vw;
    left: 96.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.7vw;
}
#imgham3{
    width: 2vw;
    height: 2vw;
}
#imgham4{
    
    width: 2vw;
    height: 2vw;
}
#imgham5{
    width: 2vw;
    height: 2vw;
}
.textbarra{
    position: relative;
    font-size: 1.2vw;
    top: -2vw;
}
.contenido{
    margin-top: 4.5vw;
}