@font-face {
    font-family: letraRegular;
    src: url("Type font/Myriad\ Pro\ Regular.ttf");
}
@font-face {
    font-family: letraLight;
    src: url("Type font/MyriadPro-Light.otf");
}

.contenedor{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#imagenFondo{
    overflow: hidden;
    background-color: black;
    margin-top: 7vw;
    width: 100vw;
    height: 65vw;
    margin-left: -4vw;
    
}
.contenido{
    height: 28vw;
}

.contenedor1{
    
    position: absolute;
    width: 47vw;
    height: 27vw;
    background-color: rgb(255, 255, 255);
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vw;
    flex-direction: column;
}
#imagenKario{
    margin-top: 1.5vw;
    width: 5vw;
    height: 5vw;
}
#Titulo{
    font-size: 1.5vw;
    font-family: letraRegular;
}
#textoDeIngreso{
    margin-top: -1vw;
    font-size: 0.8vw;
    color: #000000;
    font-family: letraLight;
}
#imagenPerfil{
    width: 9vw;
    height: 9vw;
}
#Textonombre{
    font-size: 1.5vw;
    font-family: letraRegular;
    
}
