
@font-face {
    font-family: letraRegular;
    src: url("Type font/Myriad\ Pro\ Regular.ttf");
}
@font-face {
    font-family: letraLight;
    src: url("Type font/MyriadPro-Light.otf");
}

.contenedor{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:-1vw;
}
#imagenFondo{
    overflow: hidden;
    background-color: black;
    width: 100vw;
    height: 63vw;
    margin-top: 7vw;
}

.contenedor1{
    margin-top: 2vw;
    position: absolute;
    width: 44vw;
    height: 36vw;
    background-color: rgb(255, 255, 255);
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vw;
    flex-direction: column;
}
#imagenKario{
    margin-top: 1vw;
    width: 5vw;
    height: 5vw;
}
#Titulo{
    font-size: 2vw;
    font-family:letraRegular;
}
#textoDeIngreso{
    font-family: letraLight;
    margin-top: -1vw;
    font-size: 0.8vw;
    color: #000000;
}
.casillaUsuario{
    margin-top: vw;
    width: 30vw;
    height: 2vw;
    border-radius: 0.8vw;
    border: solid 1px #707070;
    font-size: 1vw;
}
.requerimientos{
    margin-left: 7.5vw;
    display: flex;
    width: 30vw;
    height: 10vw;
}
#usuario{
    position: relative;
    font-family: letraLight;
    color: #000000;
    font-size: 1vw;
    display: flex;
    
}
#botonn{
    text-decoration: none;
}
.boton{
    font-family: letraLight;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 12vw;
    align-items: center;
    height: 2.5vw;
    border-radius: 5vw;
    background-color: #ff6f2c;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    margin-left: 17vw;
}
#textoFinal{
    font-family: letraLight;
    font-size: 0.7vw;
    color: #000000;
}
.Inputs{
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.5vw;
}


@media screen and (max-width: 400px){
    .contenedor{
        width: 100vw;
        height: 100%;
        z-index: 2;
        
    }
    #imagenFondo{
        background-color: black;
        width: 100vw;
        height: 100%;
        top: 10vw;
        z-index: 2;
    }
    .contenedor1{
        width: 70vw;
        height: 78vw;
        z-index: 2;
        
    }
    body{
       background-color: #000000;
    }
    #imagenKario{
        position: relative;
        top: -10vw;
        width: 10vw;
        height: 10vw;
    }
    #Titulo{
        position: relative;
        top: -9vw;
        font-size: 3vw;
        font-family:letraRegular;
    }
    #textoDeIngreso{
        font-family: letraLight;
        margin-top: -9vw;
        font-size: 2.5vw;
        color: #000000;
    }
    .casillaUsuario{
        width: 40vw;
        height: 5vw;
        margin-left: -1vw;
        font-size: 3vw;
    }
    #usuario{
        position: relative;
        top:0.5vw;
        font-size: 3vw;
        
    }
    .inputs{
        position: relative;
        left: 7vw;
        font-size: 4vw;
    }
    .boton{
        position: relative;
        top: 12vw;
        width: 30vw;
        left: 3vw;
        align-items: center;
        height: 7vw;
        font-size: 4vw;
    }
    #textoFinal{
        position: relative;
        font-size: 2.5vw;
        top:13vw;
        
    }
    .contenedor{
        width: 100vw;
        height: 80vw;
        position: relative;
        top: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin:-1vw;
    }
    #imagenFondo{
        overflow: hidden;
        background-color: black;
        width: 100vw;
        height: 110vw;
        margin-top: 7vw;
    }
    
}