#principal{
    background-color: black;
    width: 100vw;
    height:55vw;
    overflow: hidden;
    margin:-1vw;
}
#fondo2{
    background-size: cover;
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    width: 100vw;
    height:70vw;
    margin-top: -5vw;
  
}
@media screen and (max-width: 400px){
    #principal{
        background-color: black;
        width: 100vw;
        height: 200vw;
        margin:-2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    #fondo2{     
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 200vw;
      
    }
    
    
}
