
@font-face {
    font-family: letraBold;
    src: url("Type font/MYRIADPRO-BOLD.OTF");
}
@font-face {
    font-family: letralight;
    src: url("Type font/MyriadPro-Light.otf");
}
#principal{
    margin-left: -2vw;
    margin: -1vw auto;
    background-color:white;
    width:100vw;
    height: 48vw;
    overflow: hidden;
   
}
#text1{
    margin: 1.5vw 40vw;
    font-size: 2vw;
    font-family: letraBold;
    color: black;
}
#text2{
    margin: -1vw 26vw;
    font-size: 1.2vw;
    font-family: letralight;
    color: black;
    width: 65vw;
   
}
#barra{
    position: absolute;
    top: -0.5vw;
    left: 0vw;
    display: flex;
    width: 100vw;
    height: 5vw;
    background-color: white;
    box-shadow: 0 0.3vw 0.2vw #b9b8b8,
    0 0.1vw 0.2vw  #6b6969;
    text-align: center;
    justify-content: space-between;
    font-size: 1.4vw;
}
#container{
    position: relative;
    left: 2vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
    width: -1vw;
  
}
#img{
    position: relative;
    top: -0.1vw;
    left: 4vw;
    width: 2vw;
    height: 2vw;
}
#img3{
    position: absolute;
    left: -6vw;
    top:-0.5vw;
    width: 2.2vw;
    height: 2.2vw;
}
#img1{
    position: relative;
    left:  1vw;
    width: 1.2vw;
    height: 1.2vw;
}
#img2{
    position: relative;
    top: -1vw;
    left: -3vw;
    width: 3vw;
    height: 3vw;
}
#container1{
    font-size: 1.5vw;
    position: relative;
    top: 2.2vw;
    left: -1vw;
}
#container2{
    position: relative;
    left: -5.5vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container3{
    position: relative;
    left: -2vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container4{
    position: relative;
    left: -4vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}
#container5{
    position: relative;
    left: -5vw;
    font-size: 1.5vw;
    font-family: letraBold;
    margin: 2vw ;
}

#cajita1{
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    margin-top:-2vw;
    width: 90vw;
    height: 3.5vw;
    border: 1px solid black;
    border-radius: 1.5vw;

}
.porcentaje{
    position: relative;
    top: -0.6vw;
    left:0.01vw;
}
#cofre1{
    display: flex;
    justify-content: space-between;
    width: 88vw;
    height: 3.5vw;
    margin: 1vw auto;
    font-family: letralight;
    font-size: 1vw;
}
.conte2{
    position: relative;
    left: -1.7vw;
   
}
.conte3{
    position: relative;
    left: -5vw;
   
}
.conte4{
    position: relative;
    left: -4vw;
   
}
.conte5{
    position: relative;
    left: -2vw;
   
}
.conte6{
    position: relative;
    left: 0.8vw;
   
}
.conte7{
    position: relative;
    left: 0.7vw;
   
}
.conte8{
    position: relative;
    left: 1.8vw;
   
}
.conte9{
    position: relative;
    left: -1.5vw;
   
}
.conte10{
    position: relative;
    left: -6vw;
   
}
.conte11{
    position: relative;
    left: -5vw;
   
}
.conte12{
    position: relative;
    left: -3vw;
   
}
.conte13{
    position: relative;
    left: -0.5vw;
   
}
.conte14{
    position: relative;
    left: -0.5vw;
   
}
.conte15{
    position: relative;
    left: 0.7vw;
   
}
.conte16{
    position: relative;
    left: -2.8vw;
   
}
.conte17{
    position: relative;
    left: -7.5vw;
   
}
.conte18{
    position: relative;
    left: -6.5vw;
   
}
.conte19{
    position: relative;
    left: -3.8vw;
   
}
.conte20{
    position: relative;
    left: -0.5vw;
   
}
.conte21{
    position: relative;
    left: -0.3vw;
   
}
.conte22{
    position: relative;
    left: 1.8vw;
   
}
.conte23{
    position: relative;
    left: -3.6vw;
   
}
.conte24{
    position: relative;
    left: -7.5vw;
   
}
.conte25{
    position: relative;
    left: -7.1vw;
   
}
.conte26{
    position: relative;
    left: -4.8vw;
   
}
.conte27{
    position: relative;
    left: -2vw;
   
}
.conte28{
    position: relative;
    left: -0.5vw;
   
}
.conte29{
    position: relative;
    left: 1.2vw;
   
}
.conte30{
    position: relative;
    left: -5vw;
   
}
.conte31{
    position: relative;
    left: -8.6vw;
   
}
.conte32{
    position: relative;
    left: -7vw;
   
}
.conte33{
    position: relative;
    left: -4.2vw;
   
}
.conte34{
    position: relative;
    left: -0.8vw;
   
}
.conte35{
    position: relative;
    left: -1.15vw;
   
}
.conte36{
    position: relative;
    left: 1.2vw;
   
}
.conte37{
    position: relative;
    left: -3.5vw;
   
}
.conte38{
    position: relative;
    left: -7vw;
   
}
.conte39{
    position: relative;
    left: -5.8vw;
   
}
.conte40{
    position: relative;
    left: -2.9vw;
   
}
.conte41{
    position: relative;
    left:0.15vw;
   
}
.conte42{
    position: relative;
    left: -0.4vw;
   
}
.conte43{
    position: relative;
    left: 1.8vw;
   
}
#circle{
    position:relative;
    top:-0.8vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid red;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb{
    position:absolute;
    left:1.2vw;
    margin-top: -3.9vw;
    width: 0.4vw;
    height:0.8vw;
    background-color: white;
    border-radius: 8%;
}
#circle2{
    position:relative;
    top:-0.7vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid rgb(14, 209, 14);
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb2{
    position:absolute;
    left:1.2vw;
    margin-top: -3.8vw;
    width: 0.4vw;
    height:0.7vw;
    background-color: white;
    border-radius: 8%;
}
#circle3{
    position:relative;
    top:-0.7vw;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    border: 0.5vw solid  #ff9f05;
    font-size: 1vw;
    text-align: center;
    justify-content: center;
}
#parteb3{
    position:absolute;
    left:1.3vw;
    margin-top: -3.75vw;
    width: 0.4vw;
    height:0.8vw;
    background-color: white;
    border-radius: 8%;
}
#cajita{
    margin: auto ;
    margin-top: 1vw;
    width: 90vw;
    height: 3.5vw;
    border: 1px solid black;
    border-radius: 5vw;
    border-radius: 1.5vw;
}
#boton1{
    width:20vw;
    height:3vw;
    background-color:#ff6f2c;
    border-radius: 5vw;
    position: relative;
    top:-26vw;
    left: 40vw;
    text-align: center;
    justify-content: center;
 
}
p{
    position: relative;
    top:0.7vw;
    font-family: letralight;
}
#textcontainer{
    display: flex;
    width: 86vw;
    height: 2vw;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 3vw;
    font-family: letraBold;
}
#imgham1{
    position: relative;
   
    
    width: 2vw;
    height: 2vw;
}
#imgham2{
    position: relative;
    
    width: 2vw;
    height: 2vw;
}

#imgham0{
    position: relative;
    
    width: 2vw;
    height: 2vw;
}
.menus{
    position: relative;
    top:-27.5vw ;
    left: 96vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 28vw;
    z-index: 2;
    gap: 2.6vw;
}
#imgham3{
    position: relative;
 
    width: 2vw;
    height: 2vw;
}
#imgham4{
    position: relative;
 
    width: 2vw;
    height: 2vw;
}
#imgham5{
    position: relative;
  
    width: 2vw;
    height: 2vw;
}
#imgham6{
    position: absolute;
  
    width: 2vw;
    height: 2vw;
}
.textbarra{
    position: relative;
    font-size: 1.2vw;
    top: -2vw;
}
#textboton{
    color:white;
    font-size: 1.5vw;
    position: relative;
    top:0.5vw;
}
.contenido{
    margin-top: 4.5vw;
}
a{
   
    
    text-decoration: none;
    color: #000000;
}
#caja{
    display: none;
    top: 10vw;
    left: 3vw;
    position: absolute;
    width: 30vw;
    height: 50vw;
    background-color: #6a6969;
    z-index: 2;
    border-radius: 2vw;
    border-style:dashed;
    border-color: #fff;

}
#menu{
    position: relative;
    width: 5vw;
    top: -5vw;
    left: 6vw;
    height: 5vw;
}
#abrir{

    display: none;
}
#imgg{
    position: absolute;
    top: 1vw;
    left: 2vw;
    width: 4vw;
    height: 4vw;
}



@media screen and (max-width: 500px){
    body{
        background-color: white;
    }
    #principal{
        position: relative;
        top: 2vw;
        left: 0vw;
        margin: -1vw auto;
        background-color:white;
        width:100vw;
        height: 280vw;
        overflow: hidden;
       
    }
    #text1{
        position: relative;
        top: 10vw;
        left: -8vw;
        font-size: 4.5vw;
        margin-right: 10vw;
    }
    #text2{
        display: flex;
        text-align: center;
        position: relative;
        top: 13vw;
        left: -8vw;
        font-size: 3vw;
        font-family: letralight;
        color: black;
        width: 60vw;
        margin-right: 20vw;
        
       
    }
    #img{
        position: relative;
        top: -20vw;
        left: 4vw;
        width: 2vw;
        height: 2vw;
        opacity: 0;
    }
    
    #img3{
        position: absolute;
        left: -6vw;
        top: -4vw;
        width: 8vw;
        height: 8vw;
    }
    #img1{
        position: relative;
        left:  -1vw;
        width: 4vw;
        height: 4vw;
    }
    #img2{
        position: relative;
        top: 0.5vw;
        left: -14vw;
        width: 10vw;
        height: 10vw;
    }
    #container1{
        font-size: 4vw;
        position: relative;
        top: 1vw;
        left: -10vw;
    }
    #imgg{
        position: absolute;
        top: 1vw;
        left: 2vw;
        width: 4vw;
        height: 4vw;
    }
    
    #container2{
        position: relative;
        left: -5.5vw;
        font-size: 1.5vw;
        font-family: letraBold;
        margin: 2vw ;
    }
    #container3{
        position: relative;
        left: -2vw;
        font-size: 1.5vw;
        font-family: letraBold;
        margin: 2vw ;
    }
    #container4{
        position: relative;
        left: -4vw;
        font-size: 1.5vw;
        font-family: letraBold;
        margin: 2vw ;
    }
    #container5{
        position: relative;
        left: -5vw;
        font-size: 1.5vw;
        font-family: letraBold;
        margin: 2vw ;
    }
    #barra{
        position: absolute;
        top: -1vw;
        left: -1vw;
        display: flex;
        width: 100vw;
        height: 14vw;
        background-color: white;
        box-shadow: 0 0.3vw 0.2vw #b9b8b8,
        0 0.1vw 0.2vw  #6b6969;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4vw;
    }
    
    .container{
        display: none;
        width: 50vw;
        height: 12.6vw;
        background-color: #EC610B;
        position: relative;
        top: -7.5vw;
        left: -24vw;
        border-radius: 2vw;
        border-style:dashed;
        border-color: #fff;
     
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: 2vw;
    }
    #menu{
        position: relative;
        width: 5vw;
        top: 2vw;
        left: 6vw;
        height: 5vw;
        z-index: 2;
    }
    
    #caja{
        display: none;
        top: 10vw;
        left: 3vw;
        position: absolute;
        width: 25vw;
        height: 39vw;
        background-color: #787777;
        z-index: 2;
        border-radius: 2vw;
        border-style:dashed;
        border-color: #fff;
        

    }
    .opciones{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 7.5vw;
        border:#fdfafa 1px solid;
        border-style:dashed;
        font-size: 5vw;
        color: white;
        font-family: letraBold;
    }
    #abrir{
        display: none;
    }
    a{
        
        
        text-decoration: none;
        color: #fff;
        
    }
    
    #abrir:checked~#caja{
        display: block;
    }
    .contenido{
        position: relative;
        top: 18vw;
    }
    .textbarra{
        position: relative;
        font-size: 1.2vw;
        top: -2vw;
        opacity: 1;
    }
    #textcontainer{
        display: flex;
        width: 86vw;
        height: 2vw;
        text-align: center;
        justify-content: space-between;
        margin: auto;
        position: relative;
        left: 100vw;
        top: -80vw;
        font-family: letraBold;
    }
    #cajita1{
        display: flex;
        justify-content: space-between;
        margin: auto;
        position: relative;
        margin-top:-2vw;
        left: -2vw;
        width: 92vw;
        height: 30vw;
        border: 1px solid black;
        border-radius: 1.5vw;
    
    }
    #cofre1{
        position: relative;
        top: 8vw;
        display: flex;
        justify-content: space-between;
        width: 88vw;
        height: 3.5vw;
        margin: 1vw auto;
        font-family: letralight;
        font-size: 3vw;
    }
    .conte6{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte13{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte20{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte27{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte34{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte41{
        position: absolute;
        left: 0.8vw;
        top: 12vw;
       
    }
    .conte7{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
    .conte14{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
    .conte21{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
    .conte28{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
    .conte35{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
    .conte42{
        position: absolute;
        left: 27vw;
        top: 12vw;
       
    }
   
    #circle{
        position: absolute;
        left: -44vw;
        top: 11vw;
        width: 5vw;
        height: 5vw;
        border: 0.9vw solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }
    #circle2{
        position: absolute;
        left: -44vw;
        top: 11vw;
        width: 5vw;
        height: 5vw;
        border: 0.9vw solid rgb(14, 209, 14);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }
    #circle3{
        position: absolute;
        left: -44vw;
        top: 11vw;
        width: 5vw;
        height: 5vw;
        border: 0.9vw solid #ff9f05;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }
    #parteb{
        position:absolute;
        left: -41vw;
        top: 14.5vw;
        width: 1vw;
        height:2vw;
        background-color: white;
        border-radius: 8%;
    }
    #parteb2{
        position:absolute;
        left: -41vw;
        top: 14.5vw;
        width: 1vw;
        height:2vw;
        background-color: white;
        border-radius: 8%;
    }
    #parteb3{
        position:absolute;
        left: -41vw;
        top: 14.5vw;
        width: 1vw;
        height:2vw;
        background-color: white;
        border-radius: 8%;
    }
    .contee{
        position: absolute;
        left: 69vw;
        top: 12vw;
    }
    .conte{
        position: absolute;
        left: 70vw;
        top: 12vw;
    }
    .conte5{
        position: relative;
        left: 3vw;
    }
    .conte12{
        position: relative;
        left: 3vw;
    }
    .conte19{
        position: relative;
        left: 3vw;
    }
    .conte26{
        position: relative;
        left: 1vw;
    }
    .conte33{
        position: relative;
        left: 2vw;
    }
    .conte40{
        position: relative;
        left: 3vw;
    }
    .conte4{
        position: relative;
        left: 4vw;
    }
    .conte11{
        position: relative;
        left: 2.5vw;
    }
    .conte18{
        position: relative;
        left: 1vw;
    }
    .conte25{
        position: relative;
        left: -1vw;
    }
    .conte32{
        position: relative;
        left: 2vw;
    }
    .conte39{
        position: relative;
        left: 2vw;
    }
    .conte3{
        position: relative;
        left: 1vw;
    }
    .conte10{
        position: relative;
        left: 1vw;
    }
    .conte17{
        position: relative;
        left: -1vw;
    }
    .conte24{
        position: relative;
        left: -1.5vw;
    }
    .conte31{
        position: relative;
        left: 1vw;
    }
    .conte38{
        position: relative;
        left: 1vw;
    }
    .conte2{
        position: relative;
        left: -0.5vw;
    }
    .conte9{
        position: relative;
        left: -0.5vw;
    }
    .conte16{
        position: relative;
        left: -2vw;
        width: 18vw;
    }
    .conte23{
        position: relative;
        left: 1vw;
        width: 18vw;
    }
    .conte30{
        position: relative;
        left: -2vw;
        width: 18vw;
    }
    .conte37{
        position: relative;
        left: -2vw;
        width: 18vw;
    }
    .conte1{
        width: 18vw;
    }
    .menus{
        position: relative;
        left: 110vw;
        opacity: 0;
    }
    #textcontainerr{
        position: absolute;
        top: 46vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr2{
        position: absolute;
        top: 78vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr3{
        position: absolute;
        top: 111vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr4{
        position: absolute;
        top: 143vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr5{
        position: absolute;
        top: 175vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr51{
        position: absolute;
        top: 208vw;
        left: 0vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    #textcontainerr7{
        position: relative;
        top: 200vw;
        left: 1vw;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-family: letraBold;
        font-size: 3vw;
        
    }
    .textbarra6{
        position: absolute;
        left: 4vw;
        top: 12vw;
    }
    .textbarra7{
        position: absolute;
        left: 26vw;
        top: 12vw;
    }
    .textbarra8{
        position: absolute;
        left: 45vw;
        top: 12vw;
    }
    .textbarra9{
        position: absolute;
        left: 76vw;
        top: 12vw;
    }
    .textbarra5{
        position: absolute;
        left: 75vw;
        top: -3vw;
        width: 18vw;
    }
    .textbarra4{
        position: absolute;
        left: 59vw;
        width: 18vw;
        top: -3vw;
       
    }
    .textbarra3{
        position: absolute;
        left: 47vw;
       
    }
    .textbarra2{
        position: absolute;
        left: 25vw;
       
    }
    .textbarra1{
        position: absolute;
        left: 5vw;
       
    }
    #cajita{
        display: flex;
        justify-content: space-between;
        margin: auto;
        position: relative;
        margin-top:2vw;
        left: -2vw;
        width: 92vw;
        height: 30vw;
        border: 1px solid black;
        border-radius: 1.5vw;
    
    }
    #boton1{
        width:40vw;
        height:10vw;
        background-color:#ff6f2c;
        border-radius: 5vw;
        position: relative;
        top:-2vw;
        left: 33vw;
        text-align: center;
        justify-content: center;
        align-items: center;
     
    }
    #textboton{
        color:white;
        font-size: 3.5vw;
        position: relative;
        top: 2vw;
    }


}

   