

.contenedor{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#imagenFondo{
    overflow: hidden;
    background-color: black;
    margin-top: 7vw;
    width: 98vw;
    height: 65vw;
    margin-left: -4vw;
}

.contenedor1{
    margin-top: 2vw;
    position: absolute;
    width: 44vw;
    height: 36vw;
    background-color: rgb(255, 255, 255);
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vw;
    flex-direction: column;
}
#imagenKario{
    margin-top: 1vw;
    width: 5vw;
    height: 5vw;
}
#Titulo{
    font-size: 2vw;
    font-family:tipoletra;
}
#textoDeIngreso{
    margin-top: -1vw;
    font-size: 0.8vw;
    color: rgb(155, 155, 155);
}
.casillaUsuario{
    margin-top: -1vw;
    width: 30vw;
    height: 2vw;
    border-radius: 0.8vw;
    border: solid 1px rgb(155, 155, 155);
}
.requerimientos{
    margin-left: 7.5vw;
    display: flex;
    width: 30vw;
    height: 10vw;
    
}
#usuario{
    color: rgb(155, 155, 155);
    font-size: 1vw;
    display: flex;
}
#botonn{
    text-decoration: none;
}
.boton{
   
    display: flex;
    text-align: center;
    justify-content: center;
    width: 12vw;
    align-items: center;
    height: 2.5vw;
    border-radius: 5vw;
    background-color: #ff6f2c;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    margin-left: 17vw;
}
#textoFinal{
    font-size: 0.7vw;
    color: rgb(155, 155, 155);
}