#principal{
    background-color: black;
    width: 100vw;
    height: 55vw;
    overflow: hidden;
    margin:-1vw;
}
#fondo2{
    background-image: url("pinctures/pexels-pixabay-159400@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:70vw;
    margin-top: -5vw;
    
  
}
#logoimg{
    margin: 25vw 45vw;
    width:10vw;
    height:10vw;
}
@media screen and (max-width: 500px){
    #principal{
        background-color: black;
        position: relative;
        top: 0vw;
        width: 100vw;
        height: 200vw;
        margin:-2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    #fondo2{        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover;
        height:200vw;
    }
    #logoimg{
        width: 20vw;
        height: 20vw;
    }
    
}
